<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center"><%= title %> Myself</h1>
    <hr>
    <div class="row">
        <div class="col-md-4 text-center">
            <img src="/img/sw.jpg" class="img-fluid rounded-circle" alt="Sheng Wang's Picture">
            <h4 class="mt-2">Sheng Wang</h4>
            <p>swang238@centennialcollege.ca</p>
        </div>
        <div class="col-md-8">
            <p>With over five years in the IT industry and a decade of customer service experience, I possess a unique blend of technical proficiency and client-centric focus. My skills include Android app development, software system design, Java programming, and proficiency in SQL, C#, HTML, CSS, and JavaScript. </p>
            <p>My applied projects have honed my abilities, and I am adept in software design and testing methodologies. I am currently working towards my Security+ certification, ready to bring my unique skill set to your team.</p>
            <p>For more information, please check my <a href="/Assets/SeanWang.pdf" target="_blank">Resume</a>.</p>
        </div>
    </div>
  </div>
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
