<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<main class="container">
  <h1 class="display-4 text-center">My Projects</h1>
  <hr>
  <div class="row">
    <% const projects = [
        {img: ["/img/project1.jpg"], title: "Project 1", description: "This is my first Andriod app", role: "My role is design the app"},
        {img: ["/img/project2_1.jpg", "/img/project2_2.jpg", "/img/project2_3.jpg"], title: "Project 2", description: "This is my first full stack project by Java and SQL", role: "My role is design the Database and the JavaFX front end"},
        {img: ["/img/project3.jpg","/img/project3_1.jpg"], title: "Project 3", description: "This is my C# project -> Banking ", role: "My role is design the function of Checking and Saving account"}
      ]
    %>
    <% projects.forEach((project) => { %>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="card h-100">
        <% project.img.forEach((imgSrc) => { %>
        <a href="#"><img class="card-img-top" src="<%= imgSrc %>" alt="<%= project.title %>"></a>
        <% }) %>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#"><%= project.title %></a>
          </h4>
          <p class="card-text"><%= project.description %></p>
        </div>
        <div class="card-footer">
          <small class="text-muted">My Role: <%= project.role %></small>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</main>
<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
